---
// src/components/landing/Footer.astro
---
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <p class="footer__copy">
        &copy; <span id="year">2025</span> Zutra · Desde Puente Alto, Chile para el mundo
      </p>
      
      <div class="footer__socials">
        <a
          href="https://www.tiktok.com/@tuagenciazutra"
          aria-label="TikTok"
          class="footer__social-link"
          ><i class="ph-bold ph-tiktok-logo"></i></a
        >
        <a
          href="https://www.instagram.com/tuagenciazutra/"
          aria-label="Instagram"
          class="footer__social-link"
          ><i class="ph-bold ph-instagram-logo"></i></a
        >
        <!-- <a href="#" aria-label="LinkedIn" class="footer__social-link"
          ><i class="ph-bold ph-linkedin-logo"></i></a
        > -->
      </div>
    </div>
  </div>
</footer>