---
// src/components/landing/StickyCTA.astro
---
<div class="sticky-cta">
  <a
    href="#contacto"
    data-track="cta_mobile_sticky"
    class="button button--primary button--full-width">Auditoría gratuita</a
  >
</div>