---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

// ✅ El CSS sí se queda aquí
import '@/styles/main.css';

// ❌ El import de JS se va de aquí
// import '@/scripts/main.js'; 
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={description} />
  <title>{title}</title>

  <link rel="icon" id="dynamic-favicon" href="/favicon.svg" type="image/svg+xml" />

  <link rel="stylesheet" href="https://use.typekit.net/dmw4nxz.css" />
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
  <slot />

  <script>
    import '/src/scripts/main.js';
  </script>
</body>
</html>